// Specific CSS for your home-page
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
}
.card-restaurant {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.btn-outer {
    border: 1px solid #2B2D42;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    color: #2B2D42;
}